POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=music_transfer
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/music_transfer?schema=public
NEXT_PUBLIC_APP_URL=http://localhost:3000
